html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-image: url("style/Background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h3 {
  text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.jquery-ripples {
  width: 100% !important;
  height: 100% !important;
  background-image: url("style/Background.jpg") !important;
  background-size: cover !important;
}

.header {
  width: 100%;
  height: 10%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.header .headerInfo,
.header .headerInfo h1 {
  margin: auto;
  font: italic 3.5rem serif;
}

.main-background {
  width: 100%;
  height: 100%;
  margin: 0;
  /* background-image: url("style/Background.jpg");
  background-size: cover; */
}

.main {
  width: 100%;
  height: 85%;
}

.footer {
  width: 100%;
  height: 5%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer .footerInfo {
  margin: auto;
  margin-right: 1%;
  text-align: right;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
section {
  margin: auto;
  display: inline-block;
  padding: 10rem;
  max-width: 50rem;
  box-shadow: 0 0.7rem 1rem 0.8rem rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section h1 {
  margin-bottom: 1%;
}

.left-hover-box {
  position: fixed;
  left: 0;
  width: 5%;
  height: 85%;
}

.left-hover-box:hover {
  z-index: 0;
}

.right-hover-box {
  position: fixed;
  right: 0;
  width: 5%;
  height: 85%;
}

.right-hover-box:hover {
  z-index: 0;
}

.profile-menu {
  width: 50rem;
  height: 85%;
  position: fixed;
  left: -50rem;
  opacity: 0;
  border: 1px solid white;
  transition: all 0.5s;
}

.profile-menu-active {
  width: 50rem;
  height: 85%;
  position: fixed;
  z-index: 5;
  left: 0rem;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.side-menu {
  width: 70rem;
  height: 70rem;
  border-radius: 35rem;
  position: fixed;
  right: -70rem;
  opacity: 0;
  transition: all 0.5s;
  transform: rotate(0deg);
}

.side-menu-active {
  width: 70rem;
  height: 70rem;
  border-radius: 35rem;
  position: fixed;
  z-index: 3;
  right: -35rem;
  opacity: 1;
  transition: all 0.5s;
  transform: rotate(-45deg);
}

.side-menu-center {
  left: 22rem;
  top: 22rem;
  transform: translate(-1%, -1%);
  position: absolute;
  border-radius: 100%;
  z-index: 5;
  width: 26rem;
  height: 26rem;
  background: radial-gradient(rgb(77, 77, 77), rgb(30, 30, 30), rgb(0, 0, 0));
}
.side-menu-center p {
  color: #ddd;
  font: italic 2rem serif;
  margin-top: 4rem;
}

.each-side-menu {
  width: 35rem;
  height: 35rem;
  background-color: #000;
  box-shadow: 0 0.7rem 1rem 0.8rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.each-side-menu img {
  opacity: 0.7;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.each-side-menu img:hover {
  opacity: 1;
}

#side-menu {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transition: all 0.5s;
}

#menu0 {
  float: left;
  text-align: center;
  border-top-left-radius: 100%;
  transform: translate(-1%, -1%);
  transition: all 0.3s;
}

#menu0:hover {
  transform: translate(-3%, -3%);
}

#menu1 {
  float: left;
  text-align: center;
  border-top-right-radius: 100%;
  transform: translate(1%, -1%);
  transition: all 0.3s;
}
#menu1:hover {
  transform: translate(3%, -3%);
}

#menu2 {
  float: left;
  text-align: center;
  border-bottom-left-radius: 100%;
  background-size: cover;
  transform: translate(-1%, 1%);
  transition: all 0.3s;
}
#menu2:hover {
  transform: translate(-3%, 3%);
}

#menu3 {
  float: left;
  text-align: center;
  border-bottom-right-radius: 100%;
  transform: translate(1%, 1%);
  transition: all 0.3s;
}
#menu3:hover {
  transform: translate(3%, 3%);
}

#menu0 img {
  height: 50rem;
  transform: translate(-8rem, 9rem) rotate(45deg);
}

#menu1 img {
  height: 50rem;
  transform: translate(-40rem, -4rem) rotate(135deg);
}

#menu2 img {
  height: 50rem;
  transform: translate(-7rem, -8rem) rotate(315deg);
}

#menu3 img {
  height: 50rem;
  transform: translate(-18rem, -9rem) rotate(195deg);
}

.cx1,
.cx2,
.cx3,
.cx4,
.cx5,
.cx6,
.cx7,
.cx8 {
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  width: 32rem;
  height: 18rem;
  box-shadow: 0 0.7rem 1rem 0.8rem rgba(0, 0, 0, 0.5);
  transition: all ease 0.5s;
}

.video {
  z-index: 1;
}

video {
  padding: 10px;
  box-shadow: 0 0.7rem 1rem 0.8rem rgba(0, 0, 0, 0.5);
}

.cx2 {
  top: 10%;
  left: 3%;
}
.cx2:hover {
  transform: rotate(20deg);
}

.cx6 {
  top: 10%;
  right: 3%;
}
.cx6:hover {
  transform: rotate(-20deg);
}

.cx8 {
  bottom: 10%;
  left: 2%;
  transform: rotate(20deg);
}
.cx8:hover {
  transform: rotate(0deg);
}

.cx4 {
  bottom: 10%;
  right: 2%;
  transform: rotate(-20deg);
}
.cx4:hover {
  transform: rotate(0deg);
}

.cx5 {
  bottom: 5%;
  left: 27%;
}
.cx5:hover {
  transform: rotate(20deg);
}

.cx1 {
  bottom: 5%;
  right: 27%;
}
.cx1:hover {
  transform: rotate(-20deg);
}

.cx3 {
  bottom: 36%;
  left: 13%;
  transform: rotate(20deg);
}
.cx3:hover {
  transform: rotate(0deg);
}

.cx7 {
  bottom: 36%;
  right: 13%;
  transform: rotate(-20deg);
}
.cx7:hover {
  transform: rotate(0deg);
}

.label-wrap {
  z-index: 5;
  position: absolute;
  margin-top: 16%;
  width: 100%;
  height: 15%;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.label {
  margin: 0 auto;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  font-size: 120px;
  /* font-family: "Staatliches", cursive; */
  font-weight: bold;
  transition: all 1s ease-in-out;
  color: #ddd;
  opacity: 0;
  /* background: linear-gradient(to right top, #ffffff, #ffffff);
  color: transparent;
  -webkit-background-clip: text; */
}

.play {
  width: 80%;
  /* font-size: 120px; */
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.label p {
  margin: 0 auto;
}

.background-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.background-piece-1 {
  position: absolute;
  width: 40%;
  height: 50%;
}

.background-piece-2 {
  position: absolute;
  left: 40%;
  width: 50%;
  height: 15%;
}

.background-piece-3 {
  position: absolute;
  left: 90%;
  width: 10%;
  height: 70%;
}

.background-piece-4 {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 50%;
}

.background-piece-5 {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 30%;
  height: 35%;
}

.background-piece-6 {
  position: absolute;
  top: 15%;
  left: 70%;
  width: 20%;
  height: 85%;
}

.background-piece-7 {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 30%;
  height: 30%;
}

.background-piece-8 {
  position: absolute;
  top: 80%;
  left: 30%;
  width: 40%;
  height: 20%;
}

.background-piece-9 {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 10%;
  height: 30%;
}

.background-piece-10 {
  position: absolute;
  top: 70%;
  left: 90%;
  width: 10%;
  height: 30%;
}

.piece-conts {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.play-background {
  transition: all 1s ease-in-out;
  transform-origin: center;
  transform: scale(1.3);
  /* box-shadow: 0px 20px 20px rgba(0, 0, 0, 1); */
  box-shadow: 0 0.7rem 1rem 0.8rem rgba(0, 0, 0, 0.5);
  perspective: 300px;
}
